.first-container{
    width: 850px;
    height: 350px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}
.background-img{

 background-image: url(assets/Hero-bg.png);
}
.developer-container{
    width: 850px;
    height: 750px;
    margin:auto;
    
    margin-top: 80px;
    

}
